/* main layout style */

header.header-container {
  margin: 12px 0;
}

#main-container {
  background-image: url(./assets/imgs/bgsignup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 80%;
}

.register-title {
  font-size: 3vh;
  color: var(--white);
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

/* authentication screens form */
.authentication-form {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 540px) {
  .authentication-form {
    width: 90%;
  }
}
