/* main layout style */

header.header-container {
  margin: 12px 0;
}

#main-container {
  background-image: url(./assets/imgs/bgsignup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 80%;
}

.register-title {
  font-size: 3vh;
  color: var(--white);
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

/* authentication screens form */

.authentication-form {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 540px) {
  .authentication-form {
    width: 90%;
  }
}

/* Registration Modal */

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background: #fff;
  padding: 0;
  border-radius: 6px;
  max-width: 500px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.popup-header {
  padding: 15px 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.popup-header h3 {
  margin: 0;
  font-size: 20px;
}

.close-button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: var(--gray);
}

.popup-body {
  padding: 20px;
  font-size: 14px;
  color: var(--darkgray);
  line-height: 1.5;
  text-align: justify;
}

.popup-body a {
  color: var(--color-blue-500);
  text-decoration: none;
}

.popup-footer {
  padding: 10px 20px;
  background: #fff;
  text-align: right;
  border-top: 1px solid #ddd;
}

.ok-button {
  background: #e0e0e0;
  border: 2px solid #ccc;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  width: 80px;
  font-size: 14px;
}

.ok-button:hover, .ok-button:focus {
  background: #d5d5d5;
}

/* save email popup model */

.save-email-popup {
  background: #fff;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 90%;
  max-width: 900px;
}

.save-email-popup .popup-body{
  max-height: 80vh;
  overflow-y: auto;
}

.save-email-table-border,
.save-email-table-border th,
.save-email-table-border td{
  border:2px solid var(--border);
}

.save-email-lable{
  margin: 0;
  line-height: 1.10;
  font-family: 'Times New Roman', Times, serif;
  font-weight:500;
  user-select: none;
}

/* custom checkbox */

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper .checkmark {
  min-height: 17px;
  min-width: 17px;
  border: 2px solid var(--darkgray);
  display: inline-block;
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  margin-right: 8px;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  right: -2px;
  top: -5px;
  width: 8px;
  height: 15px;
  border: solid var(--label);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}