@import "tailwindcss";

:root {
  --primary-color: #76bd23;
  --primary-color-hover: #68b113;
  --gray: #999;
  --darkgray: #465155;
  --border: #ccc;
  --white: #f5f5f5;
  --blue: #1170a5;
  --label: #4c4c4c;
  --success: #3c763d;
  --error: #a94442;
}

@font-face {
  font-family: "Open Sans-Regular";
  src: url("assets/fonts/OpenSans-Regular.eot?v=1.1.0");
  src: url("assets/fonts/OpenSans-Regular.eot?#iefix&v=1.1.0")
      format("embedded-opentype"),
    url("assets/fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"),
    url("assets/fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"),
    url("assets/fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"),
    url("assets/fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans-Semibold";
  src: url("assets/fonts/OpenSans-Semibold.eot?v=1.1.0");
  src: url("assets/fonts/OpenSans-Semibold.eot?#iefix&v=1.1.0")
      format("embedded-opentype"),
    url("assets/fonts/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"),
    url("assets/fonts/OpenSans-Semibold.woff?v=1.1.0") format("woff"),
    url("assets/fonts/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"),
    url("assets/fonts/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Open Sans-Regular";
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--darkgray);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
}

/* common form element style */

a{
  cursor: pointer;  /* make cursor pointer on all a tag without using href attribute */
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  outline: 0;
  color: var(--label);
}

input:disabled {
  background-color: #eceeef;
  cursor: not-allowed;
}

input[type="checkbox"],
[type="radio"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid var(--border);
  color: var(--white);
}

input:not([type="radio"]) {
  border-radius: 3px;
}

input:focus {
  border-color: var(--label);
  border-width: 0.5px;
}

input[type="checkbox"]:checked {
  accent-color: var(--primary-color);
}

label {
  display: inline-block;
  color: var(--label);
  margin-bottom: 0.5rem;
}

h1 {
  font-family: "Open Sans-Semibold";
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* common text and buttons */
.btn-main {
  padding: 10px 40px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  width: fit-content;
}

.btn-main:hover {
  background-color: var(--primary-color-hover);
}

.btn-main:focus {
  background-color: var(--primary-color-hover);
  border: 2px solid #000;
}

.custom-link {
  color: var(--primary-color);
  text-decoration: none;
}

.popoverTrigger {
  color: var(--darkgray) !important;
  cursor: help;
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: var(--label);
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: var(--white);
}

.error-msg {
  color: #ec0b0bcf;
}

/* form alerts */

.alert {
  padding: 8px;
  border-radius: 5px;
}

.alert.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: var(--success);
}

.alert.error {
  background-color: #f2dede;
  border-color: #f2dede;
  color: var(--error);
}

/* Multi select dropdown */

.react-dropdown-select {
  border: 1px solid var(--border);
  color: var(--label);
  border-radius: 3px;
  box-shadow: none;
}

.react-dropdown-select:hover {
  border-color: var(--border) !important;
}

.react-dropdown-select:focus,
.react-dropdown-select:focus-within {
  border-color: var(--label) !important;
  box-shadow: none !important;
}

.react-dropdown-select-option {
  background-color: #fff !important;
  border: 1px solid var(--border);
  color: var(--darkgray) !important;
  align-items: center;
  gap: 5px;
}

.react-dropdown-select-option-remove {
  background-color: #ec0b0bcf;
  color: var(--white) !important;
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 0 !important;
  line-height: 1;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background: white;
  padding: 0;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.popup-header {
  padding: 15px 20px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

.popup-header h3 {
  margin: 0;
  font-size: 18px;
}

.close-button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.popup-body {
  padding: 20px;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
}

.popup-body a {
  color: #007bff;
  text-decoration: none;
}

.popup-footer {
  padding: 10px 20px;
  background: #f5f5f5;
  text-align: right;
  border-top: 1px solid #ddd;
}

.ok-button {
  background: #e0e0e0;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  width: 80px;
  font-size: 14px;
}

.ok-button:hover {
  background: #d5d5d5;
}